/* 
* ----------------------
*     GLOBAL STYLES
*-----------------------
*/

:root {
  --gray: #353535;
  --light-gray: #484842;
  --p-color:  #586270;
  --footer-gray: #323232;
  --tomato: #ef6351;
  --lime-green: #dcf2b0;
  --background-color: #fffaf2;
  --contact-background: #faf4e8;
  --font-Karla: "Karla", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(2rem, 1.3333rem + 2.8444vw, 4rem);
  font-weight: 500;
  letter-spacing: -1.5px;
  color: var(--light-gray);
  font-family: var(--font-Karla);
}

h2 {
  font-size: clamp(1rem, 0.8217rem + 0.8153vw, 1.8rem);
}

h3 {
  font-size: clamp(2rem, 1.7771rem + 1.0191vw, 3rem);
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.7px;
  color: var(--gray);
  font-family: var(--font-Karla);
}

label,
input,
textarea {
  font-size: clamp(1rem, 0.9108rem + 0.4076vw, 1.4rem);
}

p {
  font-size: clamp(1rem, 0.9331rem + 0.3057vw, 1.3rem);
  color: var(--p-color);
}

i {
  font-size: clamp(1.2rem, 1.1108rem + 0.4076vw, 1.6rem);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: url(/resources/background-noise.svg);
  font-family: "Inter", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  background-color: var(--tomato);
  color: var(--background-color);
  border: 2px solid var(--tomato);
  cursor: pointer;
  line-height: 2.3;
  border-radius: 1.5rem;
  font-weight: bold;
  transition: all 0.3s ease;
  font-size: clamp(0.9rem, 0.8331rem + 0.3057vw, 1.2rem);
}

.button:hover {
  transform: scale(1.05);
}

section-container {
  display: block;
  max-width: 90vw;
  /* max-height: 100vh; */
  margin: auto;
}

.flex-component {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid-component {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.label {
  display: inline-block;
  padding: 10px 15px 8px;
  border-radius: 80px;
  background-color: var(--lime-green);
  font-size: clamp(0.7rem, 0.5885rem + 0.5096vw, 1.2rem);
  line-height: clamp(0.7rem, 0.5885rem + 0.5096vw, 1.2rem);
  font-weight: bold;
  letter-spacing: 0.2px;
  margin: 20px 0px;
}

.separator {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* 
* ----------------------
*        HEADER
*-----------------------
*/

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

/* 
* ----------------------
*    NAVIGATION BAR
*-----------------------
*/

.nav-bar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links a {
  text-align: center;
  font-weight: 400;
  font-size: clamp(1.2rem, 0.8571rem + 0.6857vw, 1.5rem);
  padding: 0.5em 1em;
  line-height: 22px;
  margin: 0.4em;
  color: var(--gray);
  position: relative;
  transition: color 2s ease;
}

.nav-links a,
.nav-links a:after {
  transition: all 0.5s;
}

.nav-links a:hover {
  color: var(--tomato);
}

.nav-links .link a:after,
.nav-links .resume-link a:after {
  content: "";
  width: 0%;
  position: absolute;
  margin: auto;
  bottom: 0px;
  right: 0px;
  background: var(--tomato);
  height: 2px;
}

.nav-links .link a:after {
  left: 0px;
}

.nav-links .link a:hover:after {
  width: 50%;
}

.nav-links .resume-link a:after {
  left: -70px;
}

.nav-links .resume-link a:hover:after {
  width: 30%;
}

.nav-bar .logo {
  padding: calc(0.3rem + 1.5625vw);
}

.resume-link .fa-arrow-right {
  border: 2px solid var(--tomato);
  border-radius: 50%;
  padding: 1.5rem;
  margin-left: 0.1rem;
  color: var(--tomato);
  transform: rotateZ(-45deg);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.resume-link a:hover .fa-arrow-right {
  background-color: #ef635166;
  transform: rotateZ(0deg);
  transition: 0.5s ease-in-out;
}

/* 
* ----------------------
* RESPONSIVE NAVIGATION
*-----------------------
*/

.nav-burger {
  display: none;
  cursor: pointer;
}

.nav-burger .lines {
  width: 35px;
  height: 4px;
  background-color: var(--gray);
  margin: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .nav-bar .logo img {
    max-width: 90%;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    background-color: var(--background-color);
  }

  .resume-link .fa-arrow-right {
    display: none;
  }

  .nav-links .resume-link a:after {
    left: 0px;
  }

  .nav-links .resume-link a:hover:after {
    width: 50%;
  }

  .nav-links li {
    opacity: 0;
  }

  .nav-burger {
    display: block;
    margin-right: 1rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes show-nav-links {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle #line1 {
  transform: rotate(45deg) translate(6px, 7px);
}

.toggle #line2 {
  transform: scaleY(0);
}

.toggle #line3 {
  transform: rotate(-45deg) translate(6px, -7px);
}

/* 
* ----------------------
*     HOME SECTION
*-----------------------
*/

#home-section .image-block {
  flex: 60%;
  margin-bottom: calc(0rem + 1.5625vh);
  padding: calc(0.3rem + 1.5625vw);
  background: rgb(255, 230, 153);
  background: radial-gradient(
    circle,
    rgba(255, 230, 153, 0.5) 0%,
    rgba(255, 250, 242, 1) 70%
  );
}

#home-section .image-block img {
  max-width: 100%;
}

#home-section .text-block {
  flex: 40%;
  margin-bottom: calc(2rem + 1.5625vh);
  padding: calc(0.3rem + 1.5625vw);
}

#home-section .text-block h2 {
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 1.3rem;
  margin-top: 1rem;
  color: var(--p-color);
  margin: 20px 0px 20px;
  max-width: 90%;
}

#home-btn {
  width: clamp(10rem, 22vw, 14rem);
}

.slider-scroll {
  position: relative;
  margin-top: -20px;
}

.slider-scroll::after {
  position: absolute;
  content: "";
  left: 50%;
  border: solid var(--gray);
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 12px;
  transform: rotate(45deg);
  animation: scroll 1.5s infinite;
}

@keyframes scroll {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -30px;
  }
  100% {
    bottom: -20px;
  }
}

/* 
* --------------------------
*  HOME SECTION: RESPONSIVE
*---------------------------
*/

@media (max-width: 800px) {

  #home-section .flex-component {
    flex-direction: column-reverse;
    justify-content: center;
  }

  #home-section .image-block img {
    max-width: 90vw;
    height: auto;
  }
}

/* 
* ----------------------
*   PROJECTS SECTION
*-----------------------
*/

.project-container {
  background-color: #faf4e8;
  display: block;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.project .project-image {
  cursor: pointer;
}

.project .project-single .project-image a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .project-single img {
  max-width: 90%;
}

.project-gallery {
  max-width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "large-image small-image1"
    "large-image small-image2";
}

.large-image {
  grid-area: large-image;
  max-width: 100%;
  margin: auto;
}

.small-image1 {
  grid-area: small-image1;
  max-width: 100%;
  margin: auto;
}

.small-image2 {
  grid-area: small-image2;
  max-width: 100%;
  margin: auto;
}

.project-container .project-name {
  margin-left: 4rem;
  display: block;
}

#projects-section .sub-heading {
  padding: calc(0.3rem + 1.5625vw);
  text-align: center;
}

@media (max-width: 991px) {
  .project {
    flex: 100%;
  }

  .project .project-gallery img {
    max-width: 100%;
  }

  .project-gallery {
    grid-template-columns: 1fr;
  }

  .small-image1,
  .small-image2 {
    display: none;
  }
}

/* 
* ----------------------
*    ABOUT SECTION
*-----------------------
 */

#about {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .sub-heading {
  padding: calc(0.3rem + 1.5625vw);
  text-align: center;
}

#about .text-block {
  flex: 55%;
  background-image: url(/resources/circles.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: calc(0.3rem + 1.5625vw);
}

#about .text-block p {
  max-width: 90%;
  margin: auto;
}

#about .image-block {
  flex: 45%;
  padding: calc(0.3rem + 1.5625vw);
  display: block;
  margin: auto;
  text-align: center;
}

#about .image-block img {
  max-width: 98%;
}

.hello #letters {
  fill: none;
  stroke: var(--light-gray);
  stroke-miterlimit: 10;
}

.hello {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: write 8s linear forwards infinite;
}

@keyframes write {
  0% {
    stroke-dashoffset: 4000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media (max-width: 800px) {
  #about .flex-component {
    flex-direction: column-reverse;
    justify-content: center;
    }

  #about .flex-component img {
    max-width: 70%;
  }
}

@media (max-width: 991px) {
  #about .flex-component {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #about .flex-component img {
    max-width: 80%;
  }

  #about svg {
    max-width: 50%;
  }
}

/* 
* ----------------------
*    MID SECTION
*-----------------------
*/

#mid-section {
  background: linear-gradient(to bottom, var(--background-color) 50%, #faf4e8 50%);
}

#mid-section svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mid-section svg #letters {
  animation: rotate 10s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 
* ----------------------
*    CONTACT SECTION
*-----------------------
*/

#contact-section {
  background-color: var(--contact-background);
  padding: 2em;
  display: block;
}

#contact-section .text-block {
  grid-column: span 1 / span 1;
  grid-row: span 1 / span 1;
  margin-bottom: 4em;
  padding: calc(0.3em + 1.5625vw);
  display: flex;
  flex-direction: column;
}

#contact-section .form-block {
  margin-bottom: calc(2em + 1.5625vh);
  padding-top: calc(1em + 1.5625vw);
  padding: calc(0.3em + 1.5625vw);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-radius: 4px;
  border: var(--gray) solid 2px;
}

#contact-section h3:nth-child(2) {
  font-weight: 800;
  color: var(--tomato);
}

#contact-section p {
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #586270;
  margin: 20px 0px 20px;
  max-width: 90%;
}

#contact-section .text-block ul {
  display: flex;
  align-items: center;
  justify-content: left;
}

#contact-section .text-block #contact-icons li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #38746c;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#contact-section .text-block li:hover {
  transform: scale(1.05);
}

#contact-section .text-block #contact-icons li i {
  color: var(--background-color);
}

form label {
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 10px;
  color: #586270;
}

form input,
form textarea {
  display: block;
  width: 100%;
  height: 38px;
  padding: 10px 0px;
  color: #80817f;
  line-height: 1.5;
  border: 1px solid var(--gray);
  border-style: none none solid;
  background-color: transparent;
  outline: none;
}

form input {
  margin-bottom: 20px;
}

form textarea {
  min-height: 130px;
  overflow: auto;
}

form button {
  margin-top: calc(25px + 1.5625vw);
  width: 8rem;
}

@media screen and (max-width: 991px) {
  .grid-component {
    grid-template-columns: 1fr;
  }
}

/* 
* ----------------------
*       FOOTER
*-----------------------
 */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  background-color: var(--footer-gray);
}

.footer-container {
  width: 80%;
}

.socials-container {
  display: block;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0 1em 0;
}

.socials li {
  margin: 0 1em;
  line-height: 1;
}

.socials a {
  color: var(--background-color);
}

.socials a i {
  width: 20px;
  transition: color 0.3s ease;
  line-height: 1;
  transition: 0.3s ease;
}

.socials a:hover i {
  transform: translate(0, -10px);
}

footer p {
  text-align: center;
  color: var(--background-color);
}

.back-btn {
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  margin: 0 20px 15px 0;
  border-radius: 50%;
  background-color: #38746c;
  background-image: url("/resources/chevron-up.svg");
  background-position: 50% 50%;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
}

.back-btn:hover {
  transform: scale(1.05);
}

.show {
  display: block;
}

#illustration {
  background-color: var(--contact-background);
  padding-top: 4rem;
}

#illustration .image-block {
  display: flex;
}

#illustration .image-block img {
  margin: auto;
  max-width: 98%;
}
